<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
            <li>
                <a href="/admin/add-user">Add A User</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <h1>Home Page</h1>
    <h3>Hello There!</h3>
    <br>
    <br>
    <img src="/images/Aqua_Teen.jpg" alt="Aqua Teen Hunger Force" >
</main>
</body>
</html>